.minddnd-wa-announcement-wrap {
	text-align: center;
	background: #FFF;
	color: #333;
	position: relative;
	top: 0;
	width: 100%;
	padding: 20px 0px;
	z-index: 9999;
	box-sizing: border-box;
}

.minddnd-wa-announcement-wrap.minddnd-wa-hidden {
	display: none;
}